@import './../utils/mixins.scss';

.btn {
  width: 280px;
  height: 60px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  @include hover(transform, scale(1.1));

  display: flex;
  justify-content: center;
  align-items: center;

  @include onTablet {
    width: 330px;
  }

  @include onDesktop {
    width: 270px;
  }
}

.btn-span {
  font-size: 16px;
  font-weight: 600;
}